body {
    font-family: Arial, sans-serif;
}

.menu-container {
    text-align: center;
}

.menu-title {
    font-size: 24px;
    margin-bottom: 20px;
}

.menu-category {
    font-size: 18px;
    margin-top: 20px;
}

.menu-button {
    display: block;
    width: 200px;
    padding: 10px;
    margin: 10px auto;
    background-color: #007BFF;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

.menu-button:hover {
    background-color: #0056b3;
}